* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

.header {
  position: relative;
}

#up {
  grid-area: up;
}
#left {
  grid-area: left;
}
#bot {
  grid-area: bot;
}
#right {
  grid-area: right;
}
#space {
  grid-area: space;
}

.key-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas: ". up ." "left bot right" "space space space";
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 30px 30px 0;
}

.key-container > div {
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

h3,h2{
  letter-spacing: 2px;
}

i,
h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;

}
i {
  font-size: 24px;
}

.score-board{
  position: absolute;
  top:0;
  right:0;
  margin: 30px 30px 0 0;
}

#info-over{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display:none;
  height:110px;
}
h1{
  font-size:64px;
  letter-spacing: 4px;
}
#score-over{
  font-size:32px;
  margin-bottom:30px;
  letter-spacing: 2px;
}